@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

#some_block {
    background: red;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    /*position: absolute;*/
    position: fixed;
    left: 20px;
    top: 45px;
}

#header, #footer {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #333;
    color: #fff;
    line-height: 70px;
    float: left;
}

#header {
    border-bottom: 5px solid silver;
    margin-bottom: 20px;
}

#footer {
    border-top: 5px solid silver;
    margin-top: 20px;
}

#main {
    width: 50%;
    margin-left: 10%;
    background: #fafafa;
    border: 1px solid silver;
    padding: 20px 2.5%;
    float: left;
}

#aside {
    width: 20%;
    padding: 20px 2.5%;
    margin-left: 5%;
    border: 1px solid silver;
    float: left;
    position: relative;
    top: -10px;
    left: -20px;
}